{% extends "base.html" %}
{% block content %}
<!--        Characters Divs Start-->
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/1.0.png')}}" alt="Loading Image ...">
        </div>
        <div class="col-md-6 ContentCharacter">
            <h2>Dabbu</h2>
            <ul>
                <li>Character trait: cheeky, notorious, mischievous, charming, yet caring tom cat</li>
                <li>Physical trait: black and white, relatively larger than its siblings</li>
                <li>Hobby: catching mice, lizard, insect and flirting with neighborhood cats</li>
                <li>Highlight: without whom, this series will not be possible. Dabbu is our Hero!</li>
            </ul>
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6 ContentCharacter">
            <h2>Moonn</h2>
            <ul>
                <li>Character trait: intelligent, kind, soft, super loving, compassionate female cat</li>
                <li>Physical trait: pure silky white, medium sized but smaller than Dabbu</li>
                <li>Hobby: cleaning and looking after Dabbu, looking at the moon</li>
                <li>Highlight: the most heartwarming soul</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/3.0.png')}}" alt="Loading Image ...">
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/5.0.png')}}" alt="Loading Image ...">
        </div>
        <div class="col-md-6 ContentCharacter">
            <h2>Mami</h2>
            <ul>
                <li>Character trait: quiet, calm, composed mother cat</li>
                <li>Physical trait: black and white, chubby</li>
                <li>Hobby: being alone, wandering away in the woods</li>
                <li>Highlight: did all it can to give the best to its kittens before leaving them in good hands</li>
            </ul>
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6 ContentCharacter">
            <h2>Choco</h2>
            <ul>
                <li>Character trait: curios, playful, independent male kitten</li>
                <li>Physical trait: orange with black strips, looks like a tiger cub, medium sized</li>
                <li>Hobby: playing with Kappi, roaming</li>
                <li>Highlight: almost drowned with Kappi when they both slipped in a well</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/7.0.png')}}" alt="Loading Image ...">
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/9.0.png')}}" alt="Loading Image ...">
        </div>
        <div class="col-md-6 ContentCharacter">
            <h2>Kappi</h2>
            <ul>
                <li>Character trait: sticky, timid male kitten</li>
                <li>Physical trait: solid black, medium sized</li>
                <li>Hobby: playing with Choco, hanging out with its mom</li>
                <li>Highlight: almost drowned with Choco when they both slipped in a well</li>
            </ul>
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6 ContentCharacter">
            <h2>Goigoi</h2>
            <ul>
                <li>Character trait: brave, cocky, strong, romantic, alpha male rooster</li>
                <li>Physical trait: colorful and dashing, large sized</li>
                <li>Hobby: flirting, showing off to its partner</li>
                <li>Highlight: escaped from being kidnapped by a gang of thieves</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/11.0.png')}}" alt="Loading Image ...">
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/13.0.png')}}" alt="Loading Image ...">
        </div>
        <div class="col-md-6 ContentCharacter">
            <h2>Toiti</h2>
            <ul>
                <li>Character trait: cheerful, friendly beta female hen</li>
                <li>Physical trait: brownish orange, medium sized</li>
                <li>Hobby: pecking the ground, looking for food</li>
                <li>Highlight: saved by the new owner from its pecking mother hen and ended up as Goigoi’s partner</li>
            </ul>
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6 ContentCharacter">
            <h2>Trito</h2>
            <ul>
                <li>Character trait: timid, introverted young male cock</li>
                <li>Physical trait: dark brown, small sized</li>
                <li>Hobby: hiding away from humans and almost any other living being</li>
                <li>Highlight: close and comfortable only with Dabbu</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/15.0.png')}}" alt="Loading Image ...">
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/17.0.png')}}" alt="Loading Image ...">
        </div>
        <div class="col-md-6 ContentCharacter">
            <h2>Kweky</h2>
            <ul>
                <li>Character trait: ferocious, whacky, loud, authoritative alpha male duck</li>
                <li>Physical trait: golden brown, large sized</li>
                <li>Hobby: alerting the whole neighborhood with the loudest sounds</li>
                <li>Highlight: commanded a troop of ducks to go for war with Dabbu</li>
            </ul>
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6 ContentCharacter">
            <h2>Leky</h2>
            <ul>
                <li>Character trait: gentle, supportive omega female duck</li>
                <li>Physical trait: golden orange, medium sized</li>
                <li>Hobby: collecting food and accompanying its partner</li>
                <li>Highlight: befriended Dabbu despite their initial dispute</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/19.0.png')}}" alt="Loading Image ...">
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/21.0.png')}}" alt="Loading Image ...">
        </div>
        <div class="col-md-6 ContentCharacter">
            <h2>Kayle</h2>
            <ul>
                <li>Character trait: quiet, reserved male parrot</li>
                <li>Physical trait: tri-colored (green, orange, yellow), large sized</li>
                <li>Hobby: eating, flapping its wings</li>
                <li>Highlight: trying to fly and failing miserably</li>
            </ul>
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6 ContentCharacter">
            <h2>Bidoo</h2>
            <ul>
                <li>Character trait: talkative, loud, sweet voiced female parrot</li>
                <li>Physical trait: tri-colored (green, orange, yellow), medium sized</li>
                <li>Hobby: singing</li>
                <li>Highlight: attempted to imitate Elvis Presley’s singing and was quite successful</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/23.0.png')}}" alt="Loading Image ...">
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/25.0.png')}}" alt="Loading Image ...">
        </div>
        <div class="col-md-6 ContentCharacter">
            <h2>Chic</h2>
            <ul>
                <li>Character trait: fast, bizarre lizard, gender unknown</li>
                <li>Physical trait: ivory color, medium sized but sometimes appears bigger</li>
                <li>Hobby: chewing and playing with rubber bands</li>
                <li>Highlight: known for tormenting Moonn and getting into trouble with Dabbu</li>
            </ul>
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6 ContentCharacter">
            <h2>Taka</h2>
            <ul>
                <li>Character trait: active, friendly bull frog, gender unknown</li>
                <li>Physical trait: clear dark green with dark stripes, large sized</li>
                <li>Hobby: catching flies</li>
                <li>Highlight: camouflaged and frightened Dabbu on several occasions</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/27.0.png')}}" alt="Loading Image ...">
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/29.0.png')}}" alt="Loading Image ...">
        </div>
        <div class="col-md-6 ContentCharacter">
            <h2>Biwa</h2>
            <ul>
                <li>Character trait: slow, fierce looking, gender unknown</li>
                <li>Physical trait: rough skinned, muddy colored body, large sized</li>
                <li>Hobby: swimming in the river, catching fish</li>
                <li>Highlight: stole fish from Dabbu</li>
            </ul>
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6 ContentCharacter">
            <h2>Sawa</h2>
            <ul>
                <li>Character trait: fast, loner, gender unknown</li>
                <li>Physical trait: dark orange with black shaded scales, medium sized</li>
                <li>Hobby: eating mice</li>
                <li>Highlight: tried eating Taka on several occasions but got saved by Dabbu everytime</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/31.0.png')}}" alt="Loading Image ...">
        </div>
    </div>
</div>
<div class="container MainCharacter">
    <div class="row" data-aos="zoom-in">
        <div class="col-md-6">
            <img loading="lazy" src="{{url_for('static',filename='img/CharacterToken/33.0.png')}}" alt="Loading Image ...">
        </div>
        <div class="col-md-6 ContentCharacter">
            <h2>Joe</h2>
            <ul>
                <li>Character trait: brave, loving, gentle, loyal male dog</li>
                <li>Physical trait: brownish orange labrador retriever</li>
                <li>Hobby: roaming around the neighborhood, befriending familiar people</li>
                <li>Highlight: escorting school children to bus stops and ensuring they board safely</li>
            </ul>
        </div>
    </div>
</div>
<!--        Characters end here-->
{% endblock %}
