{% extends "base.html" %}

{% block content %}
<!--        Terms&condition Divs Start-->
<div class="container Mainterms">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 termscontent">
            <h1>Privacy Policy</h1>
            <h6>This Privacy Policy explains how “Blacwhite Legacy” (Company) collects, uses, discloses, saves and
                retains your personal information when “you” (User) visit the website.</h6>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<div class="container Mainterm">
    <div class="row">
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>1) &nbsp;&nbsp;POLICY ACCEPTANCE</h4>
            <p>Please read this Privacy Policy carefully to learn about the company’s procedures and practices regarding
                your personal data as well as how Blacwhite Legacy will handle the collection of your information.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>2) &nbsp;&nbsp;POLICY TERMS</h4>
            <p>When the following Terms are used in this Contract, the specified meanings are as follows:</p>
            <p>Blacwhite Legacy is committed in safeguarding the privacy and security of all the users to the site. This
                commitment represents the priority that the company places on establishing and maintaining the trust of
                its users, partners and anyone who entrusts Blacwhite Legacy with their personal data.</p>
            <p>The company will take precautions to ensure your personal information is safe and secure while monitoring
                every access internally as well as externally.</p>
            <p>Blacwhite Legacy will further adhere to the requirements of the data protection as well as any
                comparable, similar or related legislation in terms of processing the personal information and privacy
                of the users in any country worldwide.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>3) &nbsp;&nbsp;DATA COLLECTION</h4>
            <p>The following types of personal information are collected by Blacwhite Legacy:</p>
            <p>(i) Personal information you offer the company such as your name, contact number, e-mail address and/or
                wallet address when you subscribe to the newsletter or filling up form(s).</p>
            <p>(ii) Technical information about your device such as the type of browser you are using and your IP
                address. Through cookies and other similar technologies, the personal information is collected
                automatically from your device and web browser. “Cookies” are text files containing small pieces of data
                stored on your device when you visit a website. Cookies and other similar technologies can improve your
                user experience and make the site function more efficiently.</p>
            <p>(iii) Information about your usage of the site such as the content viewed, features used, links clicked
                as well as the date, time and location of your interactions.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>4) &nbsp;&nbsp;DATA COLLECTION USAGE</h4>
            <p>Your personal information will only be used by Blacwhite Legacy to:</p>
            <p>(i) Improve and protect the security of the site which may include tailoring them to your preferences or
                interest as well as making them more user-friendly.</p>
            <p>(ii) Send you e-mail about the company’s services or to notify you about important changes or
                improvements to the services.</p>
            <p>(iii) Answer or respond to any questions and enquiries you may have.</p>
            <p>(iv) Protect against fraudulent, unauthorized or illegal conduct as well as to investigate and deter
                it.</p>
            <p>(v) Comply with any law regulations, legal protection and other legal processes besides responding to
                violations of the Terms and Conditions as well as any other misuse of the company’s site.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>5) &nbsp;&nbsp;INFORMATION SHARING</h4>
            <p>Blacwhite Legacy may share your personal information with selected third parties under certain
                circumstances. The company will only share your information if you have given permission or if the
                company has a legal right to do so.</p>
            <p>The company may share your personal information with certain individuals that perform work for Blacwhite
                Legacy. These people administer and offer services for the company which includes enquiry assistance,
                email delivery as well as database administration services.</p>
            <p>Blacwhite Legacy may also be required to reveal your information under a legal obligation, an internal
                investigation, when enforcing the Terms and Conditions besides protecting the company’s rights as well
                as safety.</p>
            <p>The company ensures that all third parties would handle your data securely and in line with this Privacy
                Policy.</p>
            <p>By submitting your information to the company, you agree that it may be received and used by such third
                parties.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>6) &nbsp;&nbsp;SECURITY PROTECTION</h4>
            <p>In most cases, your personal data will be stored in Blacwhite Legacy databases or databases managed by
                the company’s service providers.</p>
            <p>To preserve the confidentiality, security and integrity of your personal information, the company employs
                reasonable protections.</p>
            <p>Although Blacwhite Legacy utilizes security measures to help protect your personal information from
                unauthorized disclosure, abuse and alteration, the company cannot guarantee the security of information
                sent over the internet. For that reason, Blacwhite Legacy will not be liable for security breaches
                beyond the company’s reasonable control and such transmission is at your own risk.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>7) &nbsp;&nbsp; RETENTION OF DATA</h4>
            <p>The length of time Blacwhite Legacy keeps your personal information varies and is determined on the
                purpose and usage of the data gathered.</p>
            <p>The company will only keep your personal data for as long as it is required for the purposes for which it
                was acquired or to comply with relevant legal requirements, in compliance with applicable laws.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>8) &nbsp;&nbsp;ELIGIBILITY</h4>
            <p>The majority of Blacwhite Legacy’s website and contents are not intended for children under the age of
                13. Except as permitted by law, the company will not intentionally solicit or collect personal
                information from children under the age of 13, or the equivalent minimum age under the applicable legal
                requirements in each jurisdiction worldwide.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>9) &nbsp;&nbsp;CHANGES TO THIS PRIVACY POLICY</h4>
            <p>Blacwhite Legacy reserves the right to make changes to this Privacy Policy at any time. This policy will
                be updated on the site if there are any changes. It is your duty to check periodically for new changes
                and updates.</p>
            <p>You agree to the revised policy by continuing to use the website and the company’s services. You should
                not use or access this site or services if you do not agree to any changes being made.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>10) &nbsp;&nbsp;CONCLUSIVE AGREEMENT</h4>
            <p>You agree that Blacwhite Legacy may collect, use and disclose your personal information as described in
                this Privacy Policy when you use or contact the company through this website.</p>
            <p>If you have any further concerns and questions on this Privacy Policy, please contact us by email at
                enquiry@blacwhite.com</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!--        Terms&condition Divs End Here-->
{% endblock %}
