{% extends "base.html" %}

{% block content %}
<!--        Roadmap Divs Start-->
<div class="container MainRoadmap">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>1) Executive Talks, Quizzes and Gifts</h4>
            <p>– All Dabbu owners are invited to be guests of our executive talks.</p>
            <p>– Executive talks are live podcasts via clubhouse, twitter or other mediums with the creators and
                founding team.</p>
            <p><strong>Some of the topics covered:</strong><br>– Rewind: History and recollection of memories of Dabbu
                NFT and its origin.</p>
            <p>– Present: Milestones, journey and blueprints of Dabbu NFT.</p>
            <p>– Fast-forward: Insights on the future projections of Dabbu NFT.</p>
            <p>– Occasional quizzes and mini games will be held during the executive talks. Winners will be gifted with
                either NFTs or ETH.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>2) Vector Artwork (Source File)</h4>
            <p>– All Dabbu owners will receive a special edition source file of Dabbu artwork in .ai format.</p>
            <p>– Owners are able to explore all the following vector features for personal use or as a hobby:
                <br> &nbsp; &nbsp; &nbsp;Edit the illustrations, add colors, backgrounds, layers and also digitally
                render for animation.
            </p>
            <p>– There will be occasional contests for Dabbu owners to submit the most creative versions of Dabbu,
                unseen to the world or even the creators!</p>
            <p>– Winners of the contests will be handpicked by our creators and the grand prize will be 1 ETH.</p>
            <p>– However, owners will be NOT be able to republish the work for commercial use in any manner, as Dabbu
                NFT is tied down to a copyright agreement under <a href="https://blacwhite.com/">Blacwhite</a> Legacy.
            </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>3) 2d Animation Film</h4>
            <p>– Dabbu tokens function as tickets to gain access to a limited edition 2d Animation Film.</p>
            <p>– All Dabbu owners are eligible and will be given first class priority during the film release.</p>
            <p>– Great cinematic experience to visualize the inaugural comic collection.</p>
            <p>– Dabbu 2d Animation Film will be premiered within 60 days after the final Dabbu NFT is sold out.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>4) Special Privilege (Member in Our Non-Profit Organization)</h4>
            <p>– A percentage of each sale (inclusive of secondary market) from Dabbu NFT Collection will be contributed
                to <a href="https://blacwhite.com/the-pawserby/">The Pawserby.</a></p>
            <p>– <a href="https://blacwhite.com/the-pawserby/">The Pawserby</a> is our partnering non-profit
                organization that caters to the protection of stray animals and stray population control.</p>
            <p>– The first owners of each Dabbu token will also have their names / pseudonyms sent to The Pawserby, to
                be engraved on a gigantic gratitude plaque which will be publicly displayed.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>5) Academic Membership Lounge (Lifelong Access Pass A) by <a
                    href="https://blacwhite.com/">blacwhite.com</a></h4>
            <p>– We are experts in producing various academic materials and contents from liberal arts to science and
                technology.</p>
            <p>– We will provide all Pass A holders with free exclusive contents and writeups (via newsletters) for
                academic essays, coursework, and academic research.</p>
            <p>– We will provide selected Pass A holders with free exclusive consultation and academic resource support,
                personalized according to the coursework and assignment specification.</p>
            <p>– Great lounge for undergraduates and postgraduates.</p>
            <p>– All Dabbu owners are eligible to apply for this membership pass.</p>
            <p>– Dabbu owners have an option to choose either Pass A or Pass B.</p>
            <p>– Passes maybe be exchanged from one to the other; however, both passes and the privileges that come
                along will not be granted concurrently .</p>
            <p>– Dabbu owners will have to give up 1 of the passes to enjoy the privilege of the other.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>6) Business & Career Membership Lounge (Lifelong Access Pass B) by <a href="https://blacwhite.com/">blacwhite.com</a>
            </h4>
            <p>– We are an international academic and business hub that has strong backing in terms of resources from
                our business partners and clients (primarily in Malaysia and Singapore). These business partners and
                clients are continuously hiring, and at the same time, providing traditional business opportunities for
                investors and entrepreneurs.</p>
            <p>– We will provide physical internships, jobs and business opportunities in Asia (Pass B holders will be
                linked up to our partners and clients for internships, jobs and business opportunities).</p>
            <p>– We will provide virtual internship and business opportunities worldwide (Pass B holders will be linked
                up to our partners and clients for virtual internships and business opportunities).</p>
            <p>– Although we are only able to electively finalize applicants from the entire pool of Pass B holders, all
                applications will be collectively stacked in our database for future references and opportunities.</p>
            <p>– Great lounge for students, working adults and professionals.</p>
            <p>– All Dabbu owners are eligible to apply for this membership pass.</p>
            <p>– Dabbu owners have an option to choose either Pass A or Pass B.</p>
            <p>– Passes maybe be exchanged from one to the other; however, both passes and the privileges that come
                along will not be granted concurrently.</p>
            <p>– Dabbu owners will have to give up 1 of the passes to enjoy the privilege of the other.</p>
        </div>
        <div class="col-md-2"></div>


        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>7) Art & Entertainment Access</h4>
            <p>– An upcoming project that will drop in the 1st half of 2022.</p>
            <p>Categories:<br>– Literary arts (access via newsletters)<br>– Performing arts (access via NFT)
                <br>– Visual arts (access via NFT)</p>
            <p>– All Dabbu owners will gain free access to our literary arts via newsletters.</p>
            <p>– All Dabbu owners will gain *prioritized minting privilege to our performing arts access token. Each
                access token (NFT) will unlock a ticket to a livestream musical theater show!</p>
            <p>– All Dabbu owners will be the first to preview our visual arts digital collection and gain *prioritized
                minting privilege. Visual arts will consist of paintings, acrylics, portraits, pencil sketches, and
                more!</p>
            <p><strong>*mint at lower prices before it is revealed to the public</strong></p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>8) Merchandising Privilege</h4>
            <p>– A future project in the 4th quarter of 2022.</p>
            <p>– Dabbu artwork will be printed on digital or/and physical apparels. The apparels will then be
                distributed as retail goods to distributors.</p>
            <p>– All Dabbu owners will have a profit-sharing privilege on the merchandises. Terms and Conditions
                apply.</p>
            <p>– The first owners will receive a random apparel merchandise to commemorate our launch in 2021.</p>
            <p>– The end objective of the merchandising drive is to build Dabbu into a trend, icon and identity for the
                Generation Z, as part of our effort to carry on its legacy.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>9) Airdrop Giveaways</h4>
            <p>– 555 Dabbu limited edition tokens will be reserved for giveaways.</p>
            <p>– These limited edition tokens will be randomly airdropped to 555 Dabbu owners at random timing of our
                discretion.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="roadmapcontent col-md-8">
            <h4>10) HODL-ers Privilege (ROI)</h4>
            <p>– If you feel that all the above is great, we’d like to tell you one final thing that happens when you
                decide to HODL your Dabbu NFT.</p>
            <p>– Dabbu NFT collection has 5 kinds of rarities to choose from.</p>
            <p>5 rarities in ascending order (in terms of least rare to most rare):<br>a) <span style="color: red;">Basic</span>
                (1950 owners)
                <br>b) <span style="color: #777BDF;">Element</span> (650 owners per element. 5 elements. Total 3250
                owners)
                <br>c) <span style="color: #965897;">Special</span> (660 owners)<br>d) <span style="color: #3AA258;">Legendary</span>
                (395 owners)<br>e) <span style="color:  #36B5E3;">Ultimate</span> (170 owners)</p>
            <p>– Each rarity has different ROIs when the token is sold on Opensea for the respective owners:</p>
            <p>a) <span style="color: red;">Basic owners</span> owners will have 100% of the royalty fees from secondary
                market to be donated to The Pawserby on their behalf. We will not take a single cent of the royalty
                fees. A special memorial plaque (apart from the first-owners plaque) with the owners’ names /pseudonyms
                engraved, will be displayed at The Pawserby.</p>
            <p>b) <span style="color: #777BDF;">Element owners</span> will receive a limited edition, elegant NFT (3D
                render) based on the respective elements they own:
                Earth, Water, Fire, Air, Space</p>
            <p>c) <span style="color: #965897;">Special owners</span> will receive an exclusive ticket to join a live
                virtual tour around one of the oldest heritages in Malaysia (The Historical City of Malacca). The
                session will be hosted by a local influencer. The host will conduct a special Q&A session and winners
                will be airdropped with ETH. Date of the virtual tour will be further announced. </p>
            <p>d) <span style="color: #3AA258;">Legendary owners</span> will have 100% of the royalty fees from
                secondary market to be returned to their wallet. Basically, legendary owners will only have to pay 2.5%
                to Opensea.</p>
            <p>e) <span style="color:  #36B5E3;">Ultimate owners</span> will receive complimentary ETH (50% of the value
                of the Opensea collection floor price) when their token is sold on Opensea. For example: an ultimate
                Dabbu NFT is sold for 2 ETH, while the floor price of the Opensea collection at the moment is at 1 ETH –
                the ultimate owner will receive complimentary 0.5 ETH in their wallet from us, apart from whatever sales
                they made on Opensea.</p>
            <p>*ALL THE ABOVE ROI APPLIES ONLY WHEN THE DABBU NFT IS HELD FOR A MINIMUM OF SIXTY (60) CONSECUTIVE DAYS
                IN ONE (1) WALLET ADDRESS*</p>
            <p>*IF DABBU NFT IS TRANSFERRED / SOLD TO ANOTHER WALLET ADDRESS, THE COUNTER RESETS TO ZERO (0) DAYS, AND
                THE NEW OWNER WILL HAVE TO HOLD THE TOKEN FOR A MINIMUM OF SIXTY (60) CONSECUTIVE DAYS TO BE ELIGIBLE
                FOR THIS PRIVILEGE*</p>
            <p>*ROI FOR DIFFERENT RARITIES WILL BE FUTHER BUILT UP ON THE DABBU NFT IP, FOR THE NEXT 50+ YEARS, AS OUR
                LEGACY*</p>
            <p>*DABBU NFT IS NOT SUITABLE FOR COLLECTORS LOOKING FOR A QUICK FLIP*</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h6 class="para">**ALL ITEMS LISTED ABOVE WILL 100% BE IN EFFECT AS SOON AS THE ENTIRE DABBU NFT COLLECTION
                IS SOLD OUT, UNLESS STATED OTHERWISE**</h6>
            <h6 class="para">**FIRST OWNERS REFER TO THE WALLET ADDRESSES THAT SUCCESSFULLY MINTED THE INAUGURAL
                COLLECTION FROM THIS SITE ON LAUNCH DAY(S)**</h6>
            <h6 class="para">**FIRST OWNERS DO NOT REFER TO OWNERS WHO PURCHASED ON THE SECONDARY MARKETPLACE**</h6>
            <h6 class="para">**SECONDARY MARKETPLACE OWNERS WILL STILL BE ENTITLED TO ALL BENEFITS OF THE DABBU
                COLLECTION, EXCEPT FOR 2 PRIVILEGES INDICATED FOR THE FIRST OWNERS**</h6>
            <h6 class="para">**ALL OWNERSHIP PRIVILEGES (EXCEPT FOR THE PRIVILEGES RESERVED FOR FIRST OWNERS) WILL BE
                IMMEDIATELY TERMINATED ONCE THE DABBU TOKEN IS TRANSFERRED TO ANOTHER WALLET OR SOLD ON THE SECONDARY
                MARKETPLACE**</h6>
            <h6 class="para">**DABBU TOKEN HOLDERS WILL FILL UP A BASIC FORM ON THIS SITE TO CLAIM THE VECTOR ARTWORK
                AND TICKET ACCESS TO THE 2D ANIMATION FILM**</h6>
            <h6 class="para">**DABBU TOKEN HOLDERS WILL FILL UP A BASIC FORM ON THIS SITE TO REGISTER FOR EITHER OF THE
                MEMBERSHIP PASSES(A OR B)**</h6>
            <h6 class="para">**AVAILIBILTY OF THE FORM(S) WILL BE FURTHER ANNOUNCED**</h6>
        </div>
    </div>
</div>
{% endblock %}
