{% extends "base.html" %}

{% block content%}
<!--        Terms&condition Divs Start-->
<div class="container Mainterms">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 termscontent">
            <h1>Dabbu NFT Terms and Conditions</h1>
            <h6>This Contract is between <strong>“you”</strong> (Owner) and <strong>“Blacwhite Legacy”</strong>
                (Company). You hereby agree to the <strong>Terms and Conditions</strong> of this Contract including the
                Terms of the
                <stong>Privacy Policy</stong>
                .
            </h6>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<div class="container Mainterm">
    <div class="row">
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>1) &nbsp;&nbsp;CONTRACT ACCEPTANCE</h4>

            <p>This Contract is between “you” (Owner) and “Blacwhite Legacy” (Company). You hereby agree to the Terms
                and Conditions of this Contract including the Terms of the Privacy Policy.</p>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>2) &nbsp;&nbsp;DEFINITIONS IN THE CONTRACT</h4>
            <p>When the following Terms are used in this Contract, the specified meanings are as follows:</p>
            <p>(i) “Art” means any artwork, digital creation, design and drawings that are related with the NFT that one
                owns.</p>
            <p>(ii) “NFT” means any blockchain-tracked, non-fungible token, such as those adhering to the ERC-721
                standard.</p>
            <p>(iii) “Own” refers to the NFT that one has purchased or otherwise legitimately obtained from a credible
                source, with proof of purchase recorded on the appropriate blockchain.</p>
            <p>(iv) “Purchased NFT” refers to the NFT that one has minted and owns.</p>
            <p>(v) “Intellectual Property” refers to any patent rights (including, but not limited to, patent
                applications and disclosures) copyrights, trade secrets, trademarks, or any other intellectual property
                rights recognized in any country or jurisdiction around the world.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>3) &nbsp;&nbsp;PURPOSE OF CONTRACT TERMS</h4>
            <p>This Contract outlines the Terms and Conditions under which Blacwhite Legacy grants the Owner rights to
                the art to which this Contract is attached (hereby the “Contract”).</p>
            <p>This Contract shall apply to the extent that the Company and the Owner have not reached an agreement in
                writing. In the event of a dispute between any other agreement and this Contract, the terms of this
                Contract will take precedence.</p>
            <p>The provisions of this Contract shall remain in full force and effect following the purchase of Dabbu
                NFT.</p>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>4) &nbsp;&nbsp;OWNERSHIP CLAUSES</h4>
            <p>TAll materials and documentation as well as all derivatives thereof (collectively “Protected Materials”),
                are owned by Blacwhite Legacy and are protected by the applicable laws in terms of copyright, patent and
                trademark.</p>
            <p>The Owner understands and agrees that all legal rights, title and interest in and to the art, as well as
                all Intellectual Property rights mentioned therein, are owned by the Company. Any or all losses
                resulting from the unlawful use of the Intellectual Property will be the responsibility of the Owner.
                The rights that the Owner have in and to the art are those set forth in this Contract.</p>
            <p>The Company, in particular, shall have the right to revise, edit, manipulate, add to, create, exploit
                derivative works of the art and distribute the art in any manner and medium. All rights in and to the
                art that are not expressly granted to the Owner in this Contract are reserved by Blacwhite Legacy.</p>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>5) &nbsp;&nbsp;CONTRACT TERMS</h4>
            <p>Blacwhite Legacy grants the Owner a worldwide, exclusive, limited license and roadmap on the digital
                collectibles, subject to the Owner’s continued compliance with the Terms of this Contract and applicable
                laws, for the legal duration of the Intellectual Property rights, under the following Terms and
                Conditions:</p>
            <p>(i) The Company hereby does not give the Owner the rights to use, perform, display and distribute the art
                in any manner and medium for any purpose whatsoever, including commercial, except for sole personal use
                subject to the Company’s righteous and, where technically required, adapt the art in a non-substantial
                way.</p>
            <p>(ii) The Owner may sell the purchased NFT on a marketplace that allows the purchase and sale of NFT that
                cryptographically verifies each NFT Owner’s right to display the art to ensure that only the actual
                Owner can sell the art. The Owner’s rights of the art are restricted to those set out in this
                Contract.</p>
            <p>Blacwhite Legacy has the right to amend, reschedule and cancel any part of the roadmap mentioned therein
                without prior notification and announcement.</p>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>6) &nbsp;&nbsp;PRIVACY POLICY TERMS</h4>
            <p>The owner accepts and agrees that the personal information will be collected, used and disclosed in
                accordance with the Terms of the <a href="{{url_for('privacy')}}">Privacy Policy</a>.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>7) &nbsp;&nbsp;CONFIDENTIALITY</h4>
            <p>Any confidential information will not be disclosed without the Owner’s prior consent. Despite the
                foregoing, Blacwhite Legacy may disclose confidential information if compelled by a court of competent
                jurisdiction or other governmental bodies, or if otherwise required by law, as long as the Owner is
                notified.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>8) &nbsp;&nbsp;ROYALTY FEES</h4>
            <p>Every resale of Dabbu NFT on any secondary marketplace by the Owner, will be subjected to a 10% royalty
                fees to Blacwhite Legacy.</p>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>9) &nbsp;&nbsp;LIMITATION APPLICABILITIES</h4>
            <p>Without Blacwhite Legacy’s express prior written agreement in each situation, the Owner shall not perform
                or permit any third party to carry out any of the following:</p>
            <p>(i) utilize the art of purchased NFT in texts, photographs, videos, or other forms of media that
                represent intolerance, unlawful activity, violence or anything else that could be construed as hatred or
                otherwise infringe others’ rights or any applicable laws or regulations.</p>
            <p>(ii) infringe the Company’s rights of the art in any manner as well as rights to the art’s integrity
                governed by the law and in particular the usage or exploitation of the art in any way without crediting
                the Company.</p>
            <p>If the Company notifies the Owner of any additional limitations, the Owner is responsible for adhering to
                all such limitations as of the date of receipt of this information, and failing to do so will be
                considered as a breach of this Contract.</p>
            <p>The limitations in Section 9 will remain effect after this Contract expires or is terminated.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>10) &nbsp;&nbsp;RISKS CLAUSE</h4>
            <p>The Owner understands the risks involved and should carefully consider the risks of copyright
                infringement, anticipate possible changes in the price of other digital assets that could indirectly or
                directly affect the purchase of Dabbu NFT as well as any changes to relevant legal doctrines that could
                create litigation uncertainty or affect Dabbu NFT ownership obligations.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>11) &nbsp;&nbsp;INDEMNIFICATION CLAUSE</h4>
            <p>The Owner understands the risks involved and should carefully consider the risks of copyright
                infringement, anticipate possible changes in the price of other digital assets that could indirectly or
                directly affect the purchase of Dabbu NFT as well as any changes to relevant legal doctrines that could
                create litigation uncertainty or affect Dabbu NFT ownership obligations.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>12) &nbsp;&nbsp;TERMINATION OF CONTRACT</h4>
            <p>The Contract is only valid as long as the Owner retains ownership of the relevant purchased NFT. If the
                Owner sells, trades, donates, gives away, transfers, or otherwise disposes of the purchased NFT for any
                reason, this Contract shall automatically expire and be passed to the new Owner together with the
                purchased NFT.</p>
            <P>The Owner understands that by selling the NFT, one no longer qualifies as the Owner of the art and so is
                no longer entitled to the benefits of this Contract.</P>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>13) &nbsp;&nbsp;GOVERNING LAW</h4>
            <p>Blacwhite Legacy and the Owner’s rights besides obligations under this Contract, as well as any of its
                Terms and Conditions, shall be regulated, interpreted, and enforced in accordance with the Malaysian
                laws.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>14) &nbsp;&nbsp;SEVERABILITY</h4>
            <p>If any provision of this Contract is ruled invalid for any reason, the remaining provisions will continue
                in effect. Such remaining provisions, on the other hand, shall be fully severable, and this Contract
                shall be construed and enforced as if such invalid provisions had never been included in it.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>15) &nbsp;&nbsp;WAIVER</h4>
            <p>Failure to enforce any provision of the Contract as a result of a breach shall not be construed as a
                waiver of any rights to enforce the other provisions stated in the Contract, in the event of a
                subsequent or continuing violation.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>16) &nbsp;&nbsp;DISCLAIMER</h4>
            <p>BLACWHITE LEGACY PROVIDES NO OTHER WARRANTIES, LIABILITIES, OR REMEDIES WITH RESPECT TO THE PURCHASE OF
                DABBU NFT.</p>
            <P>BLACWHITE LEGACY MAKES NO WARRANTY THAT THE SERVICE WILL BE ERROR-FREE, WITHOUT INTERRUPTIONS OR OTHER
                FAILURES, OR THAT THE SERVICE WILL MEET THE OWNER’S EXACT REQUIREMENTS.</P>
            <P>BLACWHITE LEGACY MAKES NO WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY REGARDING OR RELATING TO THE
                WHOLE PURCHASE PROCESS INCLUDING ANY BLOCKCHAIN AND/OR CRYPTOCURRENCY WALLET TRANSACTION SERVICES
                THEREIN.</P>
            <p>SOME JURISDICTIONS DO NOT ALLOW THE LIMITATIONS ON IMPLIED WARRANTIES, AND FOR THAT REASON THE LIMITATION
                MAY NOT APPLY TO THE OWNER.</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class=" col-md-8 termcontent">
            <h4>17) &nbsp;&nbsp;CONCLUSIVE AGREEMENT</h4>
            <p>These Terms and Conditions are primarily for the benefit of the parties involved in this Contract.</p>
            <P>These Terms and Conditions set forth the complete agreement between “you” (Owner) and “Blacwhite Legacy”
                (Company) with Registration Number: 202103262707 (MA0273942-P) regarding the use of this site and the
                access following the purchase of Dabbu NFT.</P>
            <p>If you require any further clarification and information on this Contract, you may contact us at
                dabbu@blacwhite.com</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!--        Terms&condition Divs End Here-->
{% endblock %}
